
<div class="hero-unit">
	<h2>みんなの"OFF"を一括でスケジュールしよう！	</h2>

	<p>
	同期との休みの予定や飲める日を簡単に、何人でも確認できる無料サービスです＠v＠ 
	</p>

	<p> 
	<%= link_to "登録する", "#", class: "btn btn-primary btn-large" %>

	</p>

</div>



